@import "tailwindcss";

@theme {
  --color-primary: #2d2d2d;
  --color-brand: #3976fb;
}

@utility container {
  margin: auto;
}

.batchList div:nth-child(odd) {
  @apply bg-slate-200 hover:bg-gray-300;
}
